<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "Crear productos",
    'css': ["/css/create-products-styles.css"],
}) %>

<body>
    <main>
        <form id="form" method="POST" action="/products/create" enctype="multipart/form-data">
            <div id="formulary">                 
                <!-- Campos Obligatorios -->
                <section class="camp">
                    <p class="label"><label for="name">Nombre del producto:</label></p>
                    <p class="input">
                        <input type="text" placeholder="Ingresa el nombre del producto" id="name" name="name" value="<%= locals.old && old.name ? old.name : '' %>">
                        <span class="text-danger">
                            <% if (locals.errors && errors.name) { %>
                                <%= errors.name.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp">
                    <p class="label"><label for="description">Descripción:</label></p>
                    <p class="input">
                        <input type="text" placeholder="Ingresa la descripción" id="description" name="description" value="<%= locals.old && old.description ? old.description : '' %>">
                        <span class="text-danger">
                            <% if (locals.errors && errors.description) { %>
                                <%= errors.description.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp">
                    <p class="label"><label for="category_id">Categoría:</label></p>
                    <p class="input">
                        <select name="category_id">
                            <% categories.forEach(category => { %>
                                <option 
                                value="<%= category.id %>"
                                <%= locals.old && (category_id === category_id) ? 'selected' : null %>>
                                    <%= category.name %>
                                </option>
                            <% }) %>
                        </select>
                        <span class="text-danger">
                            <% if (locals.errors && errors.category_id) { %>
                                <%= errors.category_id.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp">
                    <p class="label"><label for="image">Imagen:</label></p>
                    <p class="input">
                        <input type="file" placeholder="Adjuntar imagen" accept= "image/" id="image" name="image">
                        <span class="text-danger">
                            <% if (locals.errors && errors.image) { %>
                                <%= errors.image.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp">
                    <p class="label"><label for="price">Precio:</label></p>
                    <p class="input">
                        <input type="number" placeholder="Ingresa el precio" id="price" name="price" value="<%= locals.old && old.price ? old.price : '' %>">
                        <span class="text-danger">
                            <% if (locals.errors && errors.price) { %>
                                <%= errors.price.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <!-- Campos Opcionales -->
                <section class="camp">
                    <p class="label"><label for="color_id">Color:</label></p>
                    <p class="input">
                        <select name="color_id">
                            <% colors.forEach(color => { %>
                                <option 
                                value="<%= color.id %>"
                                <%= locals.old && (color_id === old.color_id) ? 'selected' : null %>>
                                    <%= color.name %>
                                </option>
                            <% }) %>
                        </select>
                        <span class="text-danger">
                            <% if (locals.errors && errors.color_id) { %>
                                <%= errors.color_id.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp">
                    <p class="label"><label for="size_id">Tamaño:</label></p>
                    <p class="input">
                        <select name="size_id">
                            <% sizes.forEach(size => { %>
                                <option 
                                value="<%= size.id %>"
                                <%= locals.old && (size_id === old.size_id) ? 'selected' : null %>>
                                    <%= size.name %>
                                </option>
                            <% }) %>
                        </select>
                        <span class="text-danger">
                            <% if (locals.errors && errors.size_id) { %>
                                <%= errors.size_id.msg %>
                            <% } %>
                        </span>
                    </p>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Cargar</button></p>
                </section>
                </div>
            </form>
            <section class="product-list-area">
                <ul class="product-list"></ul>
            </section>
    </main>
    <script src= "/js/productValidation.js"></script>    
</body>
</html>