<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "LoQueTePinte",
    'css': ["/css/products-styles.css"],
}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="carousel">
            <ul class="slider">
                <li id="slide1"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></li>
                <li id="slide2"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></li>
                <li id="slide3"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></li>
            </ul>
            <nav class="minicarousel">
                <ul class="thumbnails">
                    <li><a href="#slide1"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a></li>
                    <li><a href="#slide2"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a></li>
                    <li><a href="#slide3"><img src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a></li>
                </ul>
            </nav>
        </section>
        <section class="mainsellbox">
            <div class="sellboxa">
                <h2 class="product-title"><%= product.description %></h2>
                <h3 class="product-price">$<%= product.price %></h3>
                <div class="cart">
                    <div class="quantity">
                        <button type="submit" value="-" class="quantity-button" name="pop">-</button>
                        <input type="tel" name="quantity" id="quantity" class="input-quantity" value="1" pattern="[0-9]{0,4}" inputmode="numeric" autocomplete="off">
                        <button type="submit" value="+" class="quantity-button" name="push">+</button>
                    </div>
                    <a class="btn fade-in" href="#">Agregar al carrito</a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>