<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "Editar producto",
    'css': ["/css/create-products-styles.css"],
}) %>

<body>
    <main>
        <form method="POST" action="/products/edit/<%= product.id %>?_method=PUT " enctype="multipart/form-data">
            <div id="formulary">
                <section class="camp">
                    <p class="label"><label for="name">Nombre del producto:</label></p>
                    <p class="input"><input type="text" value="<%= locals.old && old.name ? old.name : product.name %> " id="name" name="name"></p>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="description">Descripción:</label></p>
                    <p class="input"><input type="text" value="<%= locals.old && old.description ? old.description : product.description %>" id="description" name="description"></p>
                    <% if (locals.errors && errors.description) { %>
                        <div class="text-danger">
                            <%= errors.description.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="category_id">Categoría:</label></p>
                    <p class="input">
                        <select name="category_id">
                            <% categories.forEach(category => { %>
                                <option
                                    value="<%= category.id %>"
                                    <%= category.id == product.category_id ? 'selected' : '' %>
                                >
                                    <%= category.name %>
                                </option>
                            <% }) %>
                        </select>
                    </p>
                    <% if (locals.errors && errors.category_id) { %>
                        <div class="text-danger">
                            <%= errors.category_id.msg %>
                        </div>
                    <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="image">Imagen:</label></p>
                    <p class="input"><input type="file" value="<%= product.image %>" accept= "image/" id="image" name="image"></p>
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>
                    <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="price">Precio:</label></p>
                    <p class="input"><input type="number" value="<%= locals.old && old.price ? old.price : product.price %>" id="price" name="price"></p>
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="color_id">Color:</label></p>
                    <p class="input">
                        <select name="color_id">
                            <% colors.forEach(color => { %>
                                <option
                                    value="<%= color.id %>"
                                    <%= color.id == product.color_id ? 'selected' : '' %>
                                >
                                    <%= color.name %>
                                </option>
                            <% }) %>
                        </select>
                    </p>
                    <% if (locals.errors && errors.color_id) { %>
                        <div class="text-danger">
                            <%= errors.color_id.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="size_id">Tamaño:</label></p>
                    <p class="input">
                        <select name="size_id">
                            <% sizes.forEach(size => { %>
                                <option
                                    value="<%= size.id %>"
                                    <%= size.id == product.size_id ? 'selected' : '' %>
                                >
                                    <%= size.name %>
                                </option>
                            <% }) %>
                        </select>
                    </p>
                    <% if (locals.errors && errors.size_id) { %>
                        <div class="text-danger">
                            <%= errors.size_id.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Actualizar</button></p>
                </section>
                </div>
            </form>
            <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE " enctype="multipart/form-data">
                <section class="camp" id="delbutton">
                    <p id="delbutton"><button type="submit">Eliminar</button></p>
                </section>
            </form>
            <section class="product-list-area">
                <ul class="product-list"></ul>
            </section>
    </main>
    
</body>
</html>