<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "Editar producto",
    'css': ["/css/create-products-styles.css"],
}) %>

<body>
    <main>
        <form method="POST" action="/products/edit/<%= product.id %> " enctype="multipart/form-data">
            <div id="formulary">
                <section class="camp">
                    <p class="label"><label for="name">Nombre del producto:</label></p>
                    <p class="input"><input type="text" value="<%= product.name %> " id="name" name="name"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="description">Descripción:</label></p>
                    <p class="input"><input type="text" value="<%= product.description %>" id="description" name="description"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="category">Categoría:</label></p>
                    <p class="input"><input type="text" value="<%= product.category %>" id="category" name="category"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="image">Imagen:</label></p>
                    <p class="input"><input type="file" value="<%= product.image %> accept= "image/" id="image" name="image"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="price">Precio:</label></p>
                    <p class="input"><input type="number" value="<%= product.price %>" id="price" name="price"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="color">Color:</label></p>
                    <p class="input"><input type="text" value="<%= product.color %> id="color" name="color"></p>
                </section>
                <section class="camp">
                    <p class="label"><label for="size">Tamaño:</label></p>
                    <p class="input"><input type="text" value="<%= product.size %> id="size" name="size"></p>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Cargar</button></p>
                </section>
                </div>
            </form>
            <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE " enctype="multipart/form-data">
                <section class="camp" id="delbutton">
                    <p id="delbutton"><button type="submit">Borrar</button></p>
                </section>
            </form>
            <section class="product-list-area">
                <ul class="product-list"></ul>
            </section>
    </main>
    
</body>
</html>