<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "LoQueTePinte",
    'css': ["/css/products.css"],
}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="products-list">
            <% productsJson.forEach (product => { %>
                <article class="product">
                    <a href="/products/<%= product.id %>"><img class="product-image" src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a>
                    <h3><a class="title" href="/products/<%= product.id %>"><%= product.name %></a></h3>
                    <h2 class="price">$<%= product.price %></h2>
                    <a class="btn" href="#">Agregar al carrito</a>
                </article>            
            <% }) %>
        </div>
    </main> 
    <%- include('../partials/footer') %>
</body>

</html>