<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "LoQueTePinte",
    'css': [],
}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="products-list">
            <% productsJson.forEach (product => { %>
                <article>
                    <img src="/images/products/<%= product.image %>" alt="<%= product.name %>">
                    <h2><%= product.name %></h2>
                </article>            
            <% }) %>
        </div>
    </main> 
    <%- include('../partials/footer') %>
</body>

</html>