<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {
    'title': "LoQueTePinte",
    'css': ["/css/products.css"],
}) %>

<body>
    <%- include('../partials/header') %>
    <main>
        <% if (locals.userLogged && locals.userLogged.category==='admin' ) { %>
            <div class="add-product">
                <a class="btn" href="/products/create/">Cargar producto</a>        
            </div>
        <% } %>
        <div class="products-list">
            <% productsJson.forEach (product => { %>
                <article class="product">
                    <a href="/products/<%= product.id %>"><img class="product-image" src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a>
                    <h3><a class="title" href="/products/<%= product.id %>"><%= product.name %></a></h3>
                    <h2 class="price">$<%= product.price %></h2>
                    <a class="btn" href="#">Agregar al carrito</a>
                    <% if (locals.userLogged && locals.userLogged.category === 'admin') { %>
                        <a class="btn" href="/products/edit/<%= product.id %>">Editar</a>
                    <% } %>
                </article>            
            <% }) %>
        </div>
    </main> 
    <%- include('../partials/footer') %>
</body>

</html>