<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {
        'title': "Registra tu usuario",
        'css': ["/css/registerstyles.css"]
    }) %>
    <body>
        <%- include('../partials/header') %>
        <main>
        <h1>Crea tu cuenta</h1>
        <form method="POST" action="/users/register" enctype="multipart/form-data">
            <div id="formulary">
                <section class="camp">
                    <p class="label"><label for="firstName">Nombre:</label></p>
                    <p class="input">
                        <input 
                        type="text" 
                        placeholder="Ingresa tu nombre" 
                        id="firstName" 
                        name="firstName"
                        value= "<%= locals.oldData ? oldData.firstName : null %>">
                    </p>
                    <% if (locals.errors && errors.firstName) { %>
                        <div>
                            <%= errors.firstName.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="lastName">Apellido:</label></p>
                    <p class="input">
                        <input 
                        type="text" 
                        placeholder="Ingresa tu apellido" 
                        id="lastName" 
                        name="lastName"
                        value= "<%= locals.oldData ? oldData.lastName : null %>">
                    </p>
                    <% if (locals.errors && errors.lastName) { %>
                        <div>
                            <%= errors.lastName.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="email">Correo electronico:</label></p>
                    <p class="input">
                        <input 
                        type="email" 
                        placeholder="Ingresa tu e-mail" 
                        id="email" 
                        name="email"
                        value= "<%= locals.oldData ? oldData.email : null %>">
                    </p>
                    <% if (locals.errors && errors.email) { %>
                        <div>
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="password">Contrase単a:</label></p>
                    <p class="input">
                        <input 
                        type="password" 
                        placeholder="Ingresa tu contrase単a" 
                        id="password" 
                        name="password">
                    </p>
                    <% if (locals.errors && errors.password) { %>
                        <div>
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="phonenumber">Telefono:</label></p>
                    <p class="input">
                        <input 
                        type="text" 
                        placeholder="Ingresa tu numero de telefono" 
                        id="phonenumber" 
                        name="phonenumber"
                        value= "<%= locals.oldData ? oldData.phonenumber : null %>"> 
                    </p>
                    <% if (locals.errors && errors.phonenumber) { %>
                        <div>
                            <%= errors.phonenumber.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="password2">Repetir contrase単a:</label></p>
                    <p class="input">
                        <input 
                        type="password" 
                        placeholder="Por favor repeti tu contrase単a" 
                        id="password2" 
                        name="password2">
                    </p>
                    <% if (locals.errors && errors.password2) { %>
                        <div>
                            <%= errors.password2.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="address">Direccion:</label></p>
                    <p class="input">
                        <input 
                        type="text" 
                        laceholder="Ingresa tu direccion" 
                        id="address" 
                        name="address"
                        value= "<%= locals.oldData ? oldData.address : null %>">
                    </p>
                    <% if (locals.errors && errors.address) { %>
                        <div>
                            <%= errors.address.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp">
                    <p class="label"><label for="address">Imagen de Perfil:</label></p>
                    <p class="input"><input type="file" placeholder="Selecciona una foto de perfil" id="image" name="image"></p>
                    <% if (locals.errors && errors.image) { %>
                        <div>
                            <%= errors.image.msg %>
                        </div>
                        <% } %>
                </section>
                <section class="camp" id="regbutton">
                    <p id="button"><button type="submit">Registrarme</button></p>
                </section>
                </div>
            </form>
            </main> 
            <%- include('../partials/footer') %>
    </body>
</html>